@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --fonte-title: 'Passion One', Arial;
    --fonte-letter: 'Sriracha', cursive;
    --fonte-default: Verdana, Arial, sans-serif;
}

body{
    width: 100%;
}

header{
    background-image: linear-gradient(to top, #0b0d18 10%, #212746);
    background-color: #1C213B;
    color: white;
    text-align: center;
    padding-top: 15px;
}

h1{
    font: bold 4em var(--fonte-title);
    line-height: 0.8em;
}

.tittle_lower{
    font-size: 0.7em;
}

header p{
    font: normal 14px var(--fonte-default);
    padding: 5px 0px 15px 0px; 
    font-style: italic;
}

audio{
    height: 35px;
    max-width: 400px;
    min-width: 300px;
    margin-top: 3px;
}   

.aud_container{
    background-color: #fff;
    margin-top: 10px;
    box-shadow: inset 0px 5px 6px 0px #00000054;
}


main p{
    font: normal 2.5vw var(--fonte-letter);
    line-height: 2em;
}

section{
    padding: 50px 30px;
}

.idk_1 p{
    display: inline-block;
}

.idk_2{
    color: white;
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 17px 9px 0px rgb(0 0 0 / 25%);
}

#idc_1{
    background-image: url('../lol1.jpg');
    background-position: right center;
}

#idc_2{
    background-image: url('../lol2.jpg');
    background-position: top center;
    padding-bottom: 0px;
}

.idk_2 > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

aside{
    margin-top: 10%;
    text-align: center;
}

aside p{
    display: inline-block;
    font-size: 1.6vw;
    color: white;
    text-align: center;
    padding: 10px 5px;
    background-color: #4d5787c4;
    border-radius: 10px ;
    min-width: 15%;
    min-height: 20%;
    max-width: 80%;
    max-height: 50%;
}

strong{
    font-size: 2.1vw;
}

a{
    font-weight: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
}

#id_foo{
    background-image: url('../lol2.jpg');
    background-position: bottom center;
}

.foo_bar{
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    }

.foo_bg{
    height: 30px;
    width: 100%;
    background-color: #1C213B;
}

footer{
    display: flex;
    height: 30px;
    width: 100%;
    background-color: #1C213B;
    padding-top: 30px;
}

footer p{
    padding-top: 8px;
    font: normal 0.7em var(--fonte-default);
    color: #fff;
    background-color: #1C213B;
    text-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.452);
}

.creator{
    display:block;
    margin: auto;
    text-align: center;
    margin-bottom: -4px;
    padding: 1px 0px 0px;
    box-shadow: 0px -4px 5px 0px rgb(0 0 0 / 38%);
}

.song_velvet{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 0.65em;
    margin-bottom: -8px;
}

.riot_rights{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 0.55em;
}

